.MalinKundang {
    flex-grow: 1;
  }
  
  .MalinKundang h1 {
    margin-bottom: 20px;
  }
  .MalinKundang p {
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  